[Unit]
Description=Bandwidth Control Daemon
After=network.target

[Service]
Type=forking
PIDFile=/var/run/bwctld.pid
ExecStart=/usr/sbin/bwctld -c /etc/bwctl-server -R /var/run
ExecStopPost=/bin/rm -f /var/run/bwctld.info

[Install]
WantedBy=multi-user.target
